# Operating System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Environment Files
.env
.env.*

# Python
__pycache__/
*.pyc

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# Ansible
*.retry

# Kubernetes
*.kubeconfig

# Docker
*.pid
.venv/
